/*==============================================*/
/* Fonts                                        */
/*==============================================*/

:root,
body, 
header, 
footer, 
section, 
article, 
div, 
ul, ol, li, 
p, a, span,
label, input, button {
	font-family: 'Roboto', arial;
};

body {
	font-size: 1rem;
	font-weight: 300;
}


/*==============================================*/
/* Navigation                                   */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: header, nav, ul, li, a, div.
 */
#header{
	width:100%;
	position: fixed;
	display: block;
	padding-bottom: -10px;
}

#NomTante {
	color: antiquewhite;
	padding-left: 25px;
}

#Nav-gauche{
	float: left;
}
#Nav-droite{
	float: right;
	align-content: flex-end;
	padding-left: 300px;
}

/*==============================================*/
/* Articles                                     */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, h2, section, article.
 */
#article {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}
#article h2, h3, h4, h5, .content{
	padding-top: 10px;
	padding-bottom: 5px;
}
h1{
	font-size: 5vw;
	font-weight: 900px;
}
#article img {
	width: 75%;
	border-radius: 20px;
}
.image {
	padding-top: 15px;
	padding-bottom: 10px;
}
.image2{
	padding-top: 25px;
}
.article {
	height: 525px;
	background-color: antiquewhite;

	border: 1px outset;
	border-radius: 15px;
}
.content, h5 {
	padding-left: 25px;
	padding-right: 25px;
}
.content {
	text-align: justify;
	font-size: 0.8em;
}
/*==============================================*/
/* Recipes                                      */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, ul, li, p.
 */

/*==============================================*/
/* Contact                                      */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, label, input.
 */

/*==============================================*/
/* Footer                                       */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: p.
 */