/*==============================================*/
/* Fonts                                        */
/*==============================================*/

:root,
body, 
header, 
footer, 
section, 
article, 
div, 
ul, ol, li, 
p, a, span,
label, input, button {
	font-family: 'Roboto', arial;
};

body {
	font-size: 1rem;
	font-weight: 300;
}


/*==============================================*/
/* Navigation                                   */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: header, nav, ul, li, a, div.
 */
#header{
	width:100%;
	position: fixed;
	display: block;
	padding-bottom: -10px;
}

#NomTante {
	color: antiquewhite;
	padding-left: 25px;
}

#Nav-gauche{
	float: left;
}
#Nav-droite{
	float: right;
	align-content: flex-end;
	padding-left: 100px;
}

/*==============================================*/
/* Articles                                     */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, h2, section, article.
 */

/*==============================================*/
/* Recipes                                      */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, ul, li, p.
 */

/*==============================================*/
/* Contact                                      */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: h1, label, input.
 */

/*==============================================*/
/* Footer                                       */
/*==============================================*/

/** 
 * This section should contain at least the
 * following elements: p.
 */